// COLORS
// $primary-color: #02aab0;
// $secondary-color: #08c1a2;
$primary-color: #61dafb;
$secondary-color: #61dafb;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

// $white-color: rgba(255, 255, 255, 0.952);
$white-color: #16181d;

// $dark-grey: #333333;
$dark-grey: #fff7d0ff;

$dark-blue-text: rgba(255, 255, 255, 0.938); // For Headings
// $dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
